*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    color: #444452;
    font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    width: 100%;
}
.view{
    padding: 100px 100px;
    height: 80vh;
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    /* -ms-flex-direction: column; */
    flex-direction: column;
    /* -ms-flex-pack: distribute; */
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
}
.intro{
    font-weight: 300;
}
.content{
    font-weight: 300;
    max-width: 700px;
}
.h2{
    font-size: 1.5em;
    font-weight: bold;
}
.name{
    font-weight: 700;
}
.social-links{
    margin-left: 500px;
    width: 100px;
    align-items: center;
}
.section {
    justify-content: center;
  display: none;
}

.section.active {
  display: block;
}

.invisible {
  display: none;
}

ul {
  list-style: none;
  /* margin: 0;
  padding: 0; */
  display: flex;
  align-items: center;
}

ul li {
  /* background: #ccc; */
  font-weight: 300;
    font-size: 1rem;
  padding: 10px 15px;
  margin-left: 6px;
  /* border-radius: 50%; */
  cursor: pointer;
  opacity: 0.5;
}

ul li.active {
  opacity: 1 !important;
}
.footer{
    display:flex;
    flex-wrap: wrap;
  align-content: space-around;
    /* flex-wrap: wrap; */
  /* align-content: space-between; */
    align-items: baseline;
    height: 100px;
}

.cat{
    align-content: flex-start;
    height: 150px;
    width: 150px;
}
.next,
.previous {
  /* padding: 15px 10px; */
  border-radius: 6px;

  align-content: flex-end;
  background: #29333c;
  /* background: #2b3a44; */
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  align-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.next.disable,
.previous.disable {
  cursor: none;
  opacity: 0.5;
}
